.discipulado__cover{
  margin-top: -9rem;
  background: linear-gradient( 115deg, rgba(31, 163, 71, 0.2), rgba(31, 163, 71, 0.1) ), url("../assets/bible.jpg") no-repeat;
  background-position: 0px 180%;
  background-attachment: fixed;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
h3{
  font-size: 1.5rem;
  margin-top: 2rem;
}
article{
  text-align: justify;
}
p{
  margin-top: 1rem;
  line-height: 1.5rem;
}
table{
  border: 1px solid;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
tr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


/* INTRO */
h1{
  font-size: 1.5rem;
  margin-top: 1.5rem;
  text-align: center;
}
.article__steps{
  font-weight: bold;
  font-size: 1.1rem;
}
.article__grid{
  display: grid;
  grid-template-columns: 8rem 1fr;
  align-items: center;
}
.grid__image{
  background: url("../assets/sprite.png") no-repeat;
  height: 10rem;
  width: 7rem;
  background-size: cover;
  justify-self: center;
}
.grid__image--2{
  background-position-x: -110px;
}
.grid__image--3{
  background-position-x: -220px;
}
.grid__image--4{
  background-position-x: -323px;
}
.grid__image--5{
  background-position-x: -430px;
}



.form__email{
  display: flex;
  flex-direction: column;
  width: 20%;
}
#email__label{
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2rem 0 .4rem;
}
#email{
  padding: .5rem;
  font-size: 1rem;
  border: 1px solid #103C57;
  border-radius: 4px;
}
#mentorship{
  margin: .5rem 0 1rem;
  padding: .5rem;
  font-size: 1.5rem;
  height: 10rem;
  width: 100%;
  border: 1px solid #103C57;
  border-radius: 4px;
  resize: vertical;
}
.farewell{
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 2rem 0;
}