.home__cover{
  background: url("../assets/cover.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #fff;
}
.cover__title{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 70%;
  margin: 10rem 4.5rem 0;
  font-size: 2.5rem;
  text-shadow: 1px 1px 1px var(--main-bg-color);
}
.cover__callToAction{
  background-color: white;
  padding: 1rem;
  border-radius: 2px;
  color: var(--main-green);
  margin: 3rem 4.5rem 0;
  font-weight: bold;
  transition: .25s;
}
.cover__callToAction:hover{
  background-color: var(--main-green);
  color: #fff;
}
.home__about{
  padding: 1.5rem 0 3rem;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.about__title{
  color: var(--title-color);
  font-size: 1.5rem;
  border-bottom: 1px solid;
  text-transform: uppercase;
}
.about__slider{
  height: 80%;
  margin-top: 1rem;
}
.slider__container{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, 20%));
  grid-gap: 2.5rem;
  justify-content: center;
  height: 100%;
  margin-top: 2rem;
  perspective: 1000px;
}
.slider__profile{
  display: grid;
  grid-template-rows: .5fr .1fr 1fr;
  justify-items: center;

  color: var(--title-color);
  border: 1px solid #a9a9a9;
  border-radius: 4px;
  box-shadow: 2px 2px 10px -4px var(--main-bg-color);
  transition: transform .6s;

  position: relative;
  transform-style: preserve-3d;
}
.slider__profile--rotation{
  transform: rotateY(180deg);
}
.profile__front, .profile__back{
  position: absolute;
  backface-visibility: hidden;
}
.profile__back{
  transform: rotateY(180deg);
}
.profile__picture{
  width: 100%;
  height: 12rem;
}
.profile__picture img{
  width: 100%;
  height: 100%;
}
.profile__name{
  letter-spacing: .1rem;
  font-weight: bold;
  margin-top: .5rem;
  display: flex;
  justify-content: center;
}
.profile__info {
  padding: .5rem;
  overflow-y: scroll;
  height: 12rem;
}
.profile__info::-webkit-scrollbar {
  width: 3px;
}

.profile__info::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 10px;
}

.profile__info::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.about__info{
  margin-top: 3rem;
}
.info__topics{
  display: grid;
  grid-template-columns: repeat(3, minmax(3rem, 5rem));
  grid-gap: 1.5rem;
  justify-content: center;
  text-align: center;
  position: relative;
}
.topics__item{
  cursor: pointer;
}
.item__icon{
  width: 100%;
  height: 3rem;
}
.topics__item > span{
  color: var(--title-color);
  font-weight: bold;
}
.item__description{
  border-radius: 8px;
  width: 30rem;
  padding: 2rem;
  background-color: var(--main-bg-color);
  color: #fff;

  position: absolute;
  left: 0;
  right: 0;
  margin: 1.5rem auto;

  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility .1s ;
}
.topics__vision:hover .item__description, .topics__mission:hover .item__description, .topics__objectives:hover .item__description{
  visibility: visible;
  opacity: 1;
}
.item__description ul li{
  margin-top: .8rem;
  text-align: justify;
}
.item__description ul li i{
  font-size: 1rem;
}
.home__contact{
  background-color: #103C57;
  color: #fff;
  padding: 1.5rem 1rem;

  display: grid;
  grid-template-columns: .7fr 1fr;
  grid-gap: 1rem;
  align-items: center;
}
.contact__greeting{
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2rem;
  padding: 1rem;
}
.greeting__channelLink{
  color: var(--main-green);
  text-decoration: underline;
  transition: .25s;
}
.greeting__channelLink:hover{
  color: #fff;
  text-decoration: none;
  background-position-x: 100%;
  background-color: var(--main-green);
}
.contact__form{
  width: 80%;
  margin: 0 auto;
}

/* CONTACT FORM */
.form__name, .form__birth, .form__gender, .form__address, .form__email, .form__phone, .form__message{
  display: flex;
  flex-direction: column;
}
#name__label, #birth__label, #gender__label, #address__label, #email__label, #phone__label, #message__label {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: .4rem;
}
#name, #birth, #gender, #address, #email, #number{
  font-size: 1rem;
  padding: .5rem;
  border-radius: 3px;
  margin-bottom: 1.5rem;
}
.form__inputGroup{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
}