{% extends "layout.njk" %}

{% block head %}
  <title>Discipulado Pilares</title>
  <link rel="stylesheet" href="/styles/discipulado.css">
{% endblock head %}


{% block content %}
  <div on class="discipulado__cover">
  </div>
  
  <main class="container">
    <article>
      <h3 class="article__title">Dia 27</h3>

      <p>Chegamos ao final deste guia e estamos muito felizes porque Deus nos permitiu caminhar juntos! Vejamos agora um resumo do que envolve a sua <strong>vivência dos PILARES como estilo de vida</strong>:</p>

      <section class="article__grid">
        <div class="grid__image grid__image--1"></div>
        <p> Ter Deus como prioridade, adorá-Lo e fazer a Sua vontade, glorificando o Seu nome. E saber que tudo depende da graça dEle.</p>

        <div class="grid__image grid__image--2"></div>
        <p>Ser batizado com água e com o Espírito Santo e viver a nova vida que Ele te deu, com virtudes e sinais sobrenaturais.</p>

        <div class="grid__image grid__image--3"></div>
        <p>Diariamente orar, ler a Bíblia, praticar, testemunhar, amar e servir as pessoas.</p>

        <div class="grid__image grid__image--4"></div>
        <p>Viver em unidade com seus irmãos em Cristo, fazendo tudo o que é necessário para o bem comum e encontrar-se continuamente para cultos, comunhão, discipulado e ministério.</p>

        <div class="grid__image grid__image--5"></div>
        <p>Alcançar outras pessoas e ensiná-las a andar no mesmo caminho, visando não deixar ninguém desta terra de fora deste alcance.</p>
      </section>

      <p>Assim sendo, queremos encerrar te encorajando:</p>

      <ul style="margin:.5rem;">
        <li>•	Viva esses princípios, pois você é igreja e assim também irá plantar igreja (no sentido de alcançar pessoas e discipular);</li>
        <li>•	Ao plantar igreja, ensine às pessoas estes princípios.</li>
      </ul>
      

      <p>
        Enfim, Jesus é o SENHOR e dEle virá tudo o que você precisa para a sua vida e para a sua missão neste mundo! Apenas fizemos parte de um trecho da sua caminhada. Assim, não pare de se equipar, caminhar, progredir. Avance cada vez mais. Mas nunca construa sobre outros fundamentos. PERMANEÇA nesses PILARES. Deus te abençoe!
      </p>
    </article>

    <form style="margin-bottom:1.5rem;" class="feedback" action="/send" method="POST">
      <div class="form__name">
          <label for="name" id="name__label">Nome</label>
          <input 
            type="text"
            name="name"
            id="name" 
            placeholder="Escreva seu nome" 
            required
          >
      </div>
      <input id="feedbackDay" type="hidden" name="feedbackDay">
      <textarea onclick="Mask.getFeedbackDay()" name="mentorship" id="mentorship" required></textarea>
      <button type="submit" class="button">Enviar</button>
    </form>

  </main>
{% endblock content %}