{% extends "layout.njk" %}

{% block head %}
  <title>Discipulado Pilares</title>
  <link rel="stylesheet" href="styles/discipulado.css">
{% endblock head %}


{% block content %}
  <div class="discipulado__cover">
  </div>
  
  <main class="container">

    <article>
      <h3>Dia 1</h3>
      <p>Olá, se você chegou até aqui é porque está decidido a assumir o compromisso de viver os PILARES! Glória a Deus por isso! Você está indo na direção certa e nós queremos caminhar com você mais um pouco. Nós dividimos o aprendizado em etapas para o melhor aproveitamento, então siga esse guia de discipulado fazendo um dia de cada vez, ok?</p>
      <p>Primeiramente, é muito importante falar que os PILARES que apresentamos a você não foram inventados por homem ou mulher, e sim pelo próprio Deus. Todos eles foram retirados da Bíblia. Eles foram selecionados como FUNDAMENTOS NECESSÁRIOS para a vida cristã.</p>
      <p>Isso quer dizer, que viver os PILARES é ter um estilo de vida cristão bíblico.</p>
      <p>É claro que a vida cristã não se resume a eles, porém afirma-se de novo: são fundamentos necessários! Você precisa deles para começar, para crescer, para permanecer, até que Jesus volte. Você NUNCA vai deixar de vivê-los, embora outras coisas sejam acrescentadas ao longo do caminho. Por isso, eles são tão importantes.</p>
      <p>Agora veremos passos práticos que você precisa tomar para viver os PILARES então.</p>
    </article>

    <h3 class="stepOne">Passo 1- Viver os PILARES é um estilo de vida em que você busca:</h3>
    <ul class="pillars">
      <li class="pillars__item"><strong>1- Glória de Jesus:</strong> Conhecer a Deus constantemente</li>
      <li class="pillars__item"><strong>2- Aliança e poder:</strong> Conhecer a nova vida que Ele te deu</li>
      <li class="pillars__item"><strong>3- Diário:</strong> Diariamente orar, ler a Bíblia, praticar, testemunhar, amar e servir as pessoas</li>
      <li class="pillars__item"><strong>4- Corpo de Cristo:</strong> Viver em união e cooperação com seus irmãos em Cristo</li>
      <li class="pillars__item"><strong>5- Multiplicação:</strong> Conectar outras pessoas ao que você tem vivido</li>
    </ul>

    <p>Então responda: O que você precisa fazer HOJE para se adequar a essa realidade?</p>
    <p>Escreva no papel seus planos, se necessário. Isso ajuda organizar as ideias.</p>
    <p>E se você deseja receber uma mentoria pessoal, escreva suas dúvidas ou comentários sobre esse tópico na caixa abaixo, que iremos te responder.</p>

    <form action="">
      <textarea name="mentorship" id="mentorship"></textarea>
      <button type="submit" class="button">Enviar</button>
    </form>

    <p class="farewell">Com a graça de Deus, nos vemos amanhã!</p>
  </main>

{% endblock content %}