{% extends "layout.njk" %}

{% block head %}
  <title>Discipulado Pilares</title>
  <link type="text/css" rel="stylesheet" href="/styles/discipulado.css">
{% endblock head %}

{% block content %}
  <div on="on" class="discipulado__cover"></div>

  <main class="container">

    <article>
      <h3>{{content.title}}</h3>
      <p>{{content.content}}</p>
    </article>

    <form class="feedback" action="/send" method="POST">
      <div class="form__email form__email--mobile">
        <label for="email" id="email__label">E-mail</label>
        <input type="email" name="email" id="email" placeholder="Escreva seu e-mail" required="required">
      </div>
      <input id="feedbackDay" type="hidden" name="feedbackDay">
      <textarea placeholder="Escreva aqui as suas dúvidas ou comentários sobre esse tópico" onclick="Mask.getFeedbackDay()" name="mentorship" id="mentorship" required="required"></textarea>
      <button type="submit" class="button">Enviar</button>
    </form>

    <p class="farewell">Com a graça de Deus, nos vemos amanhã!</p>

  </main>
{% endblock content %}