{% extends "layout.njk" %}

{% block head %}
  <title>Discipulado Pilares</title>
  <link rel="stylesheet" href="styles/home.css">
{% endblock head %}


{% block content %}
  <main>
    <div  class="home__cover" id="cover">
      <h1 class="cover__title">
        <span>Ser igreja</span>
        <span>vida alicerçada</span>
        <span> e plantar igreja</span>
        <span>e frutífera</span>
        <span>através de uma</span>
        <span>com Jesus!</span>
      </h1>
      <a href="#contact" class="cover__callToAction">Faça parte</a>
    </div>

    <article class="home__about">
      <h3 id="about" class="about__title">Sobre</h3>

      <div class="about__slider container">
        <ul class="slider__container">

          <li class="slider__profile">

            <div class="profile__picture">
              <img src="/assets/profile/jessica.jpeg" alt="Jessica Nayara">
            </div>
            <span class="profile__name">Lorem Ipsum</span>

            <p class="profile__info">
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
            </p>
          </li>

          <li class="slider__profile">
            <div class="profile__picture">
              <img src="/assets/profile/oscar.jpeg" alt="Oscar Egress">
            </div>

            <span class="profile__name">Lorem Ipsum</span>

            <p class="profile__info">
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
            </p>
          </li>

          <li class="slider__profile">
            <div class="profile__picture">
              <img src="/assets/profile/andrea.jpeg" alt="Andrea Gomes">
            </div>

            <span class="profile__name">Lorem Ipsum</span>

            <p class="profile__info">
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
              Lorem ipsum dolor sit amet consectetur adpiscing elit.
            </p>
          </li>

        </ul>
      </div> 

      <div class="about__info container">
        <ul class="info__topics">
          <li class="topics__item topics__vision">
            <img src="/assets/icons/glasses.svg" alt="visão" class="item__icon">
            <span>Visão</span>
            <div class="item__description">
              <p>Ver cristãos comprometidos com Jesus e com a Sua obra na igreja e através dela.</p>
            </div>
          </li>
          <li class="topics__item topics__mission">
            <img src="/assets/icons/mission.svg" alt="missão" class="item__icon">
            <span>Missão</span>
            <div class="item__description">
              <p>Mobilizar cristãos para serem igreja e plantarem igreja por todo o mundo.</p>
            </div>
          </li>
          <li class="topics__item topics__objectives">
            <img src="/assets/icons/target.svg" alt="objetivos" class="item__icon">
            <span>Objetivos</span>
            <div class="item__description">
              <ul>
                <li>
                  <i class="material-icons">send</i>
                  Oferecer capacitação e mentoreamento online sobre os <span style="text-transform:uppercase;">pilares</span> centrais da vida da igreja;
                </li>
                <li>
                  <i class="material-icons">send</i>
                  Ecorajar cristãos a viverem os <span style="text-transform:uppercase;">pilares</span> e passar essas práticas a outros por si mesmos;
                </li>
                <li>
                  <i class="material-icons">send</i>
                  Despertar cristãos para um compromisso pessoal de plantar igreja de modo prático e não estrutural, isto é, não focando em construir prédios, mas alcançar pessoas e discipular;
                </li>
                <li>
                  <i class="material-icons">send</i>
                  Fazer tudo para a glória de Jesus, isto é, para que Ele seja conhecido e adorado.
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </article>

    <article id="contact" class="home__contact">

      <div class="contact__greeting">
        <p>Olá! se você chegou até aqui depois de assistir nossos vídeos no Youtube, o próximo passo
          é começar a prática do <span style="text-transform:uppercase;">pilares</span>.
          Então, se você quer receber nosso mentoreamento nesse sentido, faça seu cadastro ao lado 
          e depois acesse a aba "Discipulado".
        </p>
        <p>
          Se você ainda não assistiu nossos vídeos, acesse o <a href="#" class="greeting__channelLink">nosso canal</a>.
        </p>
      </div>
      <form action="" class="contact__form">

        <div class="form__name">
          <label for="name" id="name__label">Nome</label>
          <input type="text" id="name" placeholder="Escreva seu nome" required>
        </div>

        <div class="form__inputGroup">
          <div class="form__birth">
            <label for="birth" id="birth__label">Data de nascimento</label>
            <input type="date" id="birth" placeholder="Idade" required>
          </div>

          <div class="form__gender">
            <label for="gender" id="gender__label">Sexo</label>
            <select name="gender" id="gender" required>
              <option value=""></option>
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
            </select>
          </div>
        </div>

        <div class="form__address">
          <label for="address" id="address__label">Residência</label>
          <input type="text" id="address" placeholder="Cidade, estado e país apenas" required>
        </div>

        <div class="form__email">
          <label for="email" id="email__label">E-mail</label>
          <input type="email" id="email" placeholder="Escreva seu e-mail" required>
        </div>

        <div class="form__phone">
          <label for="phone" id="phone__label">Whatsapp (opcional)</label>
          <input type="number" id="number" placeholder="(xx) 9xxxx-xxxx">
        </div>

        <button type="submit" class="button">Enviar</button>

      </form>
    </article>

  </main>


{% endblock content %}