<!DOCTYPE html>
<html>
<head>
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles/global.css">
    <link rel="icon" href="/assets/icons/favicon.ico" type="image/x-icon">
    
    {% block head %}{% endblock %}

</head>
<body>
    <header class="header">
      <div class="header__logo">
        <img src="/assets/pilares.svg" alt="Pilares - estilo de vida cristão bíblico" class="logo__image">
      </div>
      <nav class="header__menu">
        <ul>
          <li class="menu__items"><a href="/">Início</a></li>
          <li class="menu__items"><a href="#about">Sobre</a></li>
          <li class="menu__items"><a href="/discipulado">Discipulado</a></li>
          <li class="menu__items"><a href="/blog">Blog</a></li>
          <li class="menu__items"><a href="#contact">Contato</a></li>
        </ul>
      </nav>
    </header>

    {% block content %}{% endblock %}
    
    <footer class="footer">
      <span>&copy Projeto Pilares</span>
      <img src="/assets/pilares.svg" alt="Pilares - estilo de vida cristão bíblico" class="footer__image">
    </footer>
</body>
</html>